@import url("https://use.typekit.net/ryi6rcu.css");

* {
  padding: 0;
  margin: 0;
  font-family: "nunito", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #E0D7F5;
}

img {
  max-width: 100%;
}

button {
  width: 40vh ;
  height: 60vh;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem;
  border-radius: 5vh;
  background: linear-gradient(
    900deg,
    rgb(153, 64, 255) 0%,
    rgb(201, 136, 231) 100%
  );
  transition: .2s ease-out; 
}
button:hover {
  background:linear-gradient(
    20deg,
    rgb(153, 64, 255) 0%,
    rgb(201, 136, 231) 100%
  );
}

#textbut {
  display: flex;
  
  align-items: flex-start; /* Alinhar itens ao topo */
  justify-content: flex-start; /* Alinhar conteúdo à esquerda */
  padding: 0;
  margin: 0;
  font-family: "nunito", sans-serif;
  font-weight: 900;
  font-style: normal;
}
