@import url("https://use.typekit.net/ryi6rcu.css");

* {
  padding: 0;
  margin: 0;
  font-family: "nunito", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #E6D9F4;
}

img {
  max-width: 100%;
}

button {
  display: block;
  width: 40vh ;
  height: 60vh;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5vh;
  background: #ae70ff;
  color: #412863;
  transition: .3s ease-out; 
}
button:hover {
  background: #826D9D;
  color: #281F33;
}

#textbut {
  display: block;
  height: 0vh;
  font-family: "nunito", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 5vh;
  text-align: center;
}

#sol {
  display: block;
}